{% extends 'template.html' %}

{% block content %}
	{% for project in allProjects %}
		<table>
			<tr>
				<th>Project</th>
				<th>Created</th>
				<th>Last Push</th>
				<th>Forks</th>
				<th>Contribution</th>
			</tr>
			<tr>
				<td><a href="/projects/{{ project['name' ]}}">{{ project['name'] }}</td></a>
				<td>{{ project['created'] }}</td>
				<td>{{ project['lastPush'] }}</td>
				<td>{{ project['forkCount'] }}</td>
				{% if project['owner'] %}
					<td>Owner</td>
				{% else %}
					<td>Contributor</td>
				{% endif %}

			</tr>
		</table>
	{% endfor %}

{% endblock content %}