<!doctype <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='template.css')}}"/>
	<title></title>
</head>
<body>

<div id='avatarContainer'><img src="{{ url_for('static', filename='avatar.png')}}" id='avatar'/><p id='meText'>It's a me!</p></div>

<div id='masterContainer'>
	<div id='content'>
		{% block content %}{% endblock %}
	</div>
</div>

<div id='navContainer'>
	<a class='navLink colorBlue notCurrentNavLink' href='ayyy'>Timeline</a>
	<a class='navLink colorGreen notCurrentNavLink' href='ayyy'>Blog</a>
	<a class='navLink colorPurple notCurrentNavLink' href='ayyy'>Tech Demos</a>
	<a class='navLink colorOrange currentNavLink' href='ayyy'>Projects</a>
	<a class='navLink colorBlue notCurrentNavLink' href='ayyy'>Post-mortems</a>
	<a class='navLink colorGreen notCurrentNavLink' href='ayyy'>Trey's Coding Challenges</a>

	<p id='siteTitle'>TreyRust</p>
</div>

<div id='footer'>
	Trey Is Awesome(c)
</div>

</body>
</html>