<!doctype <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='template.css')}}"/>
	<title>{{ kit['baseUrl'] }}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}"/>
</head>
<body>

<div id='contentSpanner'>
	<div id='contentContainer'>
		<div id='content'>
			{% block content %}{% endblock %}
		</div>
	</div>

	<div id='footer'>
		Trey Is Awesome
	</div>
</div>

<div id='navContainer'>
	{% set count = 1 %}
	{% for top, title, current in kit['nav'] %}
		<a class='
		navLink

		{% if count == 1 %}
			colorBlue
		{% elif count == 2 %}
			colorGreen
		{% elif count == 3 %}
			colorPurple
		{% elif count == 4 %}
			colorOrange
			{% set count = 0%}
		{% endif %}

		{% if current %}
			currentNavLink
		{% else %}
			notCurrentNavLink
		{% endif %}'
		href='/{{ top }}/'>{{ title }}</a>

		{% set count = count + 1 %}
	{% endfor %}

	<p id='siteTitle'>TreyRust</p>

</div>
{% if pagination %}
<div id='fbContainer'>
	{% if hasMore %}
		<a href='/blog/page/{{ currentPage + 1 }}' class='fbButtons'><</a>
	{% endif %}
	{% if currentPage > 1 %}
		<a href='/blog/page/{{ currentPage - 1 }}' class='fbButtons'>></a>
	{% endif %}
</div>
{% endif %}

<div id='avatarContainer'><img src="{{ url_for('static', filename='avatar2.png')}}" id='avatar'/><p id='meText'>It's a me!</p></div>

</body>
</html>